/* Global */

:root {
  /* Color */
  --color-white: #ffffff;
  --color-light-white: #eeeeee;
  --color-dark-white: #bdbdbd;
  --color-pink: #fe918d;
  --color-dark-pink: #ff6863;
  --color-dark-grey: #4d4d4d;
  --color-grey: #616161;
  --color-light-grey: #7c7979;
  --color-blue: #73aace;
  --color-light-blue: #a7b4c2;
  --color-orange: #feb546;
  --color-black: #000000;
  --color-light-pink: #ffc594;

  /* Font size */
  --font-large: 3rem;
  --font-medium: 1.8rem;
  --font-regular: 1.2rem;
  --font-small: 1rem;
  --font-micro: 0.8rem;

  /* Font weight */
  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-regular: 400;

  /* Size */
  --size-border-radius: 0.3rem;

  /* Animation */
  --animation-duration: 300ms;
}

/* Universal selector */
* {
  box-sizing: border-box;
}

/* -----CSS--------- */

body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  cursor: default;
}

a {
  text-decoration: none;
  color: var(--color-white);
}

ul {
  list-style: none;
  padding-left: 0;
}

button {
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
}

h1 {
  font-size: var(--font-large);
  font-weight: var(--weight-bold);
  color: var(--color-black);
  margin: 1rem 0;
}

h2 {
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
  color: var(--color-black);
  margin: 0.5rem 0;
}

h3 {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-black);
  margin: 0.5rem 0;
}

p {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-black);
  margin: 0.25rem 0;
}

/* Navbar */

header {
  background: center/cover no-repeat url(./images/bg.png);
}

#navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--color-white);
  position: fixed;
  top: 0;
  width: 100%;
  transition: all var(--animation-duration) ease-in;
  z-index: 1;
}

.navbar--visible {
  background-color: var(--color-light-blue);
  opacity: 0.97;
}

.navbar__logo {
  display: flex;
  align-items: center;
  font-size: var(--font-medium);
}

.logo__img {
  width: 1em;
  border-radius: var(--size-border-radius);
  margin: 0 0.3rem;
}

.navbar__bars {
  font-size: 2rem;
  color: var(--color-white);
  position: fixed;
  right: 0.5rem;
  display: none;
}

.navbar__menu {
  display: flex;
}

.navbar__menu__item {
  padding: 0.5rem 0.25rem;
  margin: 0 0.5rem;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: var(--size-border-radius);
}

.navbar__menu__item:hover {
  color: var(--color-dark-pink);
  border-color: var(--color-white);
}

.navbar__menu__item--active {
  border: 1px solid var(--color-white);
  color: var(--color-dark-pink);
}

/* Home */

#home {
  text-align: center;
  padding: 2.5em;
  padding-top: 8rem;
  margin: auto;
  max-width: 60rem;
  transition: opacity var(--animation-duration) ease-in;
}

.home--opacity {
  opacity: 0.2;
}
.home__profile {
  width: 15rem;
  height: 15rem;
  border-radius: 50%;
  border: 1px solid var(--color-light-white);
}

.home__title,
.home__description {
  color: var(--color-light-white);
}

.home__contact {
  font-size: var(--font-regular);
  font-weight: var(--weight-bold);
  margin: 1.5em;
  padding: 0.5em 0.75em;
  border: 2px solid var(--color-white);
  color: var(--color-white);
  border-radius: var(--size-border-radius);
}

.home__contact:hover {
  color: var(--color-dark-pink);
}

/* Sections */

.section {
  text-align: center;
  padding: 3rem;
  margin: auto;
}

.section--container {
  max-width: 60rem;
  margin: auto;
}

/* About */

.about__stacks {
  display: flex;
  justify-content: space-around;
  margin: 5em 0;
}

.stack__icon {
  width: 10rem;
  height: 10rem;
  font-size: 5rem;
  line-height: 10rem;
  margin: auto;
  color: var(--color-blue);
  border: 1px solid var(--color-blue);
  border-radius: 50%;
  margin-bottom: 1rem;
}

.stack__icon i {
  transition: transform var(--animation-duration) ease-in;
}
.stack__icon:hover i {
  color: var(--color-dark-pink);
  transform: scale(1.2);
}

.stack__title,
.stack__description {
  color: var(--color-dark-grey);
}

.stack__description {
  font-size: var(--font-small);
}

.school {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}

.school__logo {
  width: 4rem;
  height: 3rem;
}

.school__description {
  margin: 0 1rem;
  text-align: left;
}

.school__name,
.school__period {
  color: var(--color-dark-grey);
}

.school__name {
  font-size: var(--font-small);
}

.school__period {
  font-size: var(--font-micro);
}

/* Skill */

#skills {
  background-color: var(--color-light-blue);
}

.skillset {
  display: flex;
  background-color: var(--color-light-grey);
  color: var(--color-light-white);
  margin: 1.5rem 0;
}

.skillset__title {
  color: var(--color-light-white);
}

.skill {
  margin-bottom: 1em;
}

.skillset__left {
  flex-basis: 60%;
  background-color: var(--color-dark-grey);
  padding: 1em 2.5em;
}

.skill__bar {
  width: 100%;
  height: 3px;
  background-color: var(--color-grey);
}

.skill__value {
  width: 50%;
  height: 3px;
  background-color: var(--color-orange);
}

.skillset__right {
  flex-basis: 40%;
}

.tools {
  background-color: var(--color-grey);
  margin: 0;
}

.skill__description {
  display: flex;
  justify-content: space-between;
}

.tools,
.etc {
  padding: 1.5em;
}

/* Projects */

.category__btn {
  border: 1px solid var(--color-dark-white);
  border-radius: var(--size-border-radius);
  font-size: var(--font-regular);
  padding: 0.5rem 3rem;
}

.category__btn.active,
.category__btn:hover {
  background-color: var(--color-dark-pink);
  color: var(--color-white);
}

.category__count {
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  background-color: var(--color-orange);
  color: var(--color-white);
  border: 1px solid;
  line-height: 1.5rem;
}

.projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  opacity: 1;
  transition: all var(--animation-duration) ease-out;
}

.projects.animation-delay {
  opacity: 0;
  transform: translateY(2rem);
}

.project {
  width: 15rem;
  height: 13rem;
  margin: 0.5em;
  background-color: var(--color-light-white);
  position: relative;
  justify-content: center;
  align-items: center;
  display: flex;
}

.project--visibility {
  display: none;
}

.project__img {
  max-width: 100%;
  max-height: 100%;
}

.project__description {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--color-black);
  display: flex;
  flex-direction: column;
  justify-content: center;
  opacity: 0;
  transition: opacity var(--animation-duration) ease-in,
    transform var(--animation-duration) ease-in;
  transform: translateY(0.5rem);
}

.project__description:hover {
  opacity: 0.8;
  transform: translateY(0);
}

.project__description h3 {
  color: var(--color-orange);
}

.project__description h3::after {
  content: '';
  display: block;
  width: 50%;
  height: 2px;
  background-color: var(--color-white);
  margin: auto;
  margin-top: 0.3em;
}

.project__links {
  color: var(--color-blue);
}

/* Contact */
#contact {
  background-color: var(--color-light-pink);
}

.contact__title,
.contact__email {
  color: var(--color-white);
}

.contact__title {
  margin: 2rem 0;
}

.contact__links {
  font-size: 5rem;
}

.contact__links i {
  transition: transform, color var(--animation-duration) ease-in,
    transform var(--animation-duration) ease-in;
}

.contact__links i:hover {
  color: var(--color-light-blue);
  transform: scale(1.2);
}

/* move up */

.up-arrow {
  position: fixed;
  bottom: 3rem;
  right: 3rem;
  font-size: 2.5rem;
  opacity: 0;
  pointer-events: none;
  transition: opacity var(--animation-duration) ease-in;
}

.up-arrow--visible {
  display: block;
  opacity: 1;
  cursor: pointer;
  pointer-events: auto;
}

.up-arrow i {
  background-color: var(--color-dark-pink);
  color: var(--color-white);
  border-radius: 50%;
  padding: 0.5rem;
}

/* media */
@media screen and (max-width: 769px) {
  #navbar {
    flex-direction: column;
    padding: 0.5em 0.2em;
  }

  .navbar-bg {
    background-color: var(--color-light-blue);
  }

  .navbar__logo {
    align-self: start;
  }

  .navbar__bars {
    display: block;
  }

  .navbar__menu {
    flex-direction: column;
    display: none;
  }

  .nabar__menu--visible {
    display: block;
  }

  .section {
    padding: 1em;
    padding-top: 3.5em;
  }

  .about__stacks {
    flex-direction: column;
    margin-top: 2re;
    margin-bottom: 1em;
  }

  .stack {
    margin-bottom: 1.5rem;
  }

  .skillset {
    flex-direction: column;
  }

  .project {
    flex-grow: 1;
  }

  .project__category {
    display: flex;
    flex-direction: column;
  }

  .up-arrow {
    font-size: 2rem;
  }
}
